![](https://i.imgur.com/JsMvGnP.png)


## Exercícios de manipulação de dados - Parte 3

Neste Jupyter notebook você irá resolver uma exercícios utilizando a biblioteca Pandas.\
Todos os datasets utilizados nos exercícios estão salvos na pasta *datasets*.\
Todo o seu código deve ser executado neste Jupyter Notebook. Por fim, se desejar, revise as respostas com o seu mentor.

#### Tarefa 1. Importe o dataset e salve os dados em um dataframe

Os dados estão salvos no arquivo ***datasets/users_dataset.txt***.\
Salve os dados em uma variável de nome *users*.

#### Tarefa 2. Descubra qual a idade média por ocupação.

*Dica: use a função groupby do Pandas na coluna occupation*

In [2]:
import pandas as pd

url='https://raw.githubusercontent.com/rheideier/data-manipulation-exercises/master/datasets/users_dataset.csv'
users = pd.read_csv(url,delimiter='|')

users.groupby('occupation')['age'].mean()

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

#### Tarefa 3. Para cada ocupação descubra a idade mínima e máxima.

In [4]:
users.groupby('occupation').agg({'age': ['mean', 'min', 'max']})

                     age
                    mean min max
occupation
administrator  38.746835  21  70
artist         31.392857  19  48
doctor         43.571429  28  64
educator       42.010526  23  63
engineer       36.388060  22  70
entertainment  29.222222  15  50
executive      38.718750  22  69
healthcare     41.562500  22  62
homemaker      32.571429  20  50
lawyer         36.750000  21  53
librarian      40.000000  23  69
marketing      37.615385  24  55
none           26.555556  11  55
other          34.523810  13  64
programmer     33.121212  20  63
retired        63.071429  51  73
salesman       35.666667  18  66
scientist      35.548387  23  55
student        22.081633   7  42
technician     33.148148  21  55
writer         36.311111  18  60

#### Tarefa 4. Para cada combinação de ocupação e sexo, calcule a idade média.

Exemplo:

```
occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
```

In [6]:
users.groupby(['occupation','gender'])['age'].mean()

occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
educator       F         39.115385
               M         43.101449
engineer       F         29.500000
               M         36.600000
entertainment  F         31.000000
               M         29.000000
executive      F         44.000000
               M         38.172414
healthcare     F         39.818182
               M         45.400000
homemaker      F         34.166667
               M         23.000000
lawyer         F         39.500000
               M         36.200000
librarian      F         40.000000
               M         40.000000
marketing      F         37.200000
               M         37.875000
none           F         36.500000
               M         18.600000
other          F         35.472222
               M         34.028986
programmer     F         32.166667
               M         33.216667
retired        F         70.000000
               M         62.538462
salesman       F         27.000000
               M         38.555556
scientist      F         28.333333
               M         36.321429
student        F         20.750000
               M         22.669118
technician     F         38.000000
               M         32.961538
writer         F         37.631579
               M         35.346154
Name: age, dtype: float64

#### Tarefa 5. Para cada ocupação calcule a porcentagem de homens e mulheres.

Exemplo:

```
occupation     gender
administrator  F          45.569620
               M          54.430380
artist         F          46.428571
               M          53.571429
doctor         M         100.000000
educator       F          27.368421
               M          72.631579
```

In [9]:
users.groupby(['occupation','gender'])['age'].mean().groupby(level = 0).transform(lambda x: 100*x/x.sum())

occupation     gender
administrator  F          52.233948
               M          47.766052
artist         F          48.383135
               M          51.616865
doctor         M         100.000000
educator       F          47.575883
               M          52.424117
engineer       F          44.629349
               M          55.370651
entertainment  F          51.666667
               M          48.333333
executive      F          53.545950
               M          46.454050
healthcare     F          46.724984
               M          53.275016
homemaker      F          59.766764
               M          40.233236
lawyer         F          52.179657
               M          47.820343
librarian      F          50.000000
               M          50.000000
marketing      F          49.550450
               M          50.449550
none           F          66.243194
               M          33.756806
other          F          51.038282
               M          48.961718
programmer     F          49.197043
               M          50.802957
retired        F          52.814858
               M          47.185142
salesman       F          41.186441
               M          58.813559
scientist      F          43.822500
               M          56.177500
student        F          47.790008
               M          52.209992
technician     F          53.550136
               M          46.449864
writer         F          51.565837
               M          48.434163
Name: age, dtype: float64

**Parabéns! Você chegou ao fim!**